$standard-padding: 0.5em;
$bubble-border-radius: 17px;

@mixin bot {
  background: #ffffff;
  color: #373E5F;
  align-self: flex-start;
  border-style: none;
}

@mixin user {
  background: #ffffff;
  color: #858585;
  align-self: flex-end;
}

.message-container {
  overflow-y: hidden;
  margin-bottom: 2em;
  padding-right: 1.5em;

  > div {
    display: flex;
    flex-direction: column;
  }

  .message {
    max-width: 200px;
    font-size: 20px;
    border-radius: $bubble-border-radius;
    overflow-wrap: break-word;
    font-weight: 500;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-top: 0.5em;
  }

  .user {
    @include user;
  }

  .bot {
    @include bot;
  }

  .options {
    background: white;
    display: flex;
    align-items: center;
    color: #41a0fe;
    flex-direction: column;

    > div:first-child {
      font-size: 1.3em;
      margin: 0.7em 0.7em 0.9em 0.3em;
      transform: rotate(90deg);

      i {
        color: #393e46;
        animation: arrow-move 1.2s infinite;

        @keyframes arrow-move {
          0% {
            transform: translateY(4px);
          }
          50% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(4px);
          }
        }
      }
    }

    p {
      padding: $standard-padding;
      margin: 0.1em;
      @include bot;
      border-radius: $bubble-border-radius;
      border-style: solid;
      color: #41a0fe;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }

  .dummy-div {
    padding: 0;
  }
}
